header,
footer {
    padding: 20px 0;
    background-color: var(--primary);
}

header {
    border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
}

footer {
    border-radius: 5px 5px 0 0;
}

/* SearchBar */

.search-input-ctn {
    position: relative;
}

.search {
    padding: 5px 12%;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
}

.search:focus {
    outline: 0;
}

.search::placeholder {
    color: var(--primary);
}

.search-input-ctn .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: unset;
    min-width: 10%;
    border-radius: unset;
    border-right: 1px solid var(--primary);
    background-color: transparent;
}

#loupe {
    fill: var(--primary);
    width: 20px;
    height: 20px;
}

@media (min-width:48em) {
    .search {
        padding: 5px 12%;
    }

    .search-input-ctn .btn {
        min-width: 10%;
    }
}

@media (min-width:62em) {
    
    header {
        margin-bottom: 100px;
    }

    .search {
        padding: 5px 27%;
    }

    .search-input-ctn .btn {
        min-width: 25%;
    }
}

/* navigation */

nav {
    margin-top: 10px;
}

.menu {
    display: flex;
    min-height: 40px;
    overflow-x: scroll;
    white-space: nowrap;
}

footer .menu {
    display: block;
    text-align: center;
    min-height: unset;
    overflow: unset;
}

footer .menu li {
    margin-bottom: 30px;
}

@media (min-width:48em) {
    .menu {
        justify-content: space-between;
        overflow-x: unset;
    }
}

@media (min-width:62em) {

    header .container,
    footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        margin-top: 0;
    }

    header .menu {
        align-items: center;
    }

    footer .menu {
        display: flex;
        text-align: left;
        min-height: initial;
    }

    footer .menu li {
        margin-bottom: unset;
    }
}