header,
footer {
    padding: 20px 0;
}

/* SearchBar */

.search-input-ctn {
    position: relative;
}

.search {
    padding: 5px 12%;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
}

.search:focus {
    outline: 0;
}

.search::placeholder {
    color: var(--background);
}

.search-input-ctn .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: unset;
    min-width: 10%;
    border: 0;
    border-radius: unset;
    border-right: 1px solid var(--background);
    outline: 0;
    background-color: transparent;
}

#loupe {
    fill: var(--background);
    width: 20px;
    height: 20px;
}

@media (min-width:48em) {

    .search {
        padding: 5px 27%;
    }

    .search-input-ctn .btn {
        min-width: 25%;
    }
}

/* navigation */

nav {
    margin-top: 10px;
}

.menu {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
}

.menu li {
    padding: 10px;
    margin-right: 10px;
}

.menu li:first-child {
    padding-left: unset;
}

.menu li a {
    color: var(--foreground);
    text-decoration: none;
    font-size: 1.2em;
}

.menu li a:visited {
    color: var(--foreground);
}

.menu li a.active {
    color: var(--active-primary);
    border-bottom: 1px solid var(--active-primary);
}

@media (min-width:62em) {

    header .container,
    footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        overflow-x: unset;
        overflow-y: unset;
    }

    nav {
        margin-top: 0;
    }

    .menu li:nth-last-child(1) {
        padding-right: 0px;
        margin-right: 0px;
    }
}