:root {
  --background: #191919;
  --foreground: #FFF4E6;
  --primary: #007871;
  --secondary: #BE9B7B;
  --gray: #C1C1C1;
  --active-primary: #FFF4E6;
  --light-red: #FF1B1B;
  --pinky-red: #E24A4A;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Roboto Slab", serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--primary-font);
  font-weight: 400;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  max-width: 32.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 36em) {

  /* 36em * 16 = 576px */
  .container {
    max-width: 50rem;
  }
}

@media (min-width: 48em) {

  /* 48em * 16 = 768px */
  .container {
    max-width: 70rem;
  }
}

@media (min-width: 62em) {

  /* 62em * 16 = 992px */
  .container {
    max-width: 90rem;
  }
}

@media (min-width: 75em) {

  /* 75em * 16 = 1200px */
  .container {
    max-width: 100rem;
  }
}

@media (min-width: 105em) {
  .container {
    max-width: 128rem;
  }
}

/* Home View */

.hero {
  margin-bottom: 10px;
  text-align: center;
}

.home-list {
  display: flex;
  flex-direction: column;
}

.home-link {
  padding: 30px;
  margin-bottom: 20px;
  color: var(--foreground);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.home-link:active {
  color: var(--primary);
  background-color: var(--background);
  border: 1px solid var(--foreground);
}

.home-link:visited {
  color: var(--foreground);
}

@media (min-width: 48em) {

  .home-list {
    flex-direction: initial;
    flex-wrap: wrap;
    gap: 10px;
  }

  .home-link {
    flex: max(350px, 100%/2 - 10px);
    border-radius: 5px;
    transition: ease-in-out all .4s;
  }

  .home-link:hover {
    color: var(--foreground);
    background-color: var(--background);
    border: 1px solid var(--foreground);
  }

  .hero {
    margin-bottom: 30px;
  }
}

/* RandomCocktail View */

.btn-random-ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn-random-ctn .btn {
  flex: max(200px, 100%/4 - 10px);
}

.btn:first-child {
  min-width: 100%;
}

/* Cocktail/:id View */

.cocktail-details {
  font-family: var(--secondary-font);
  font-size: 1.2em;
  font-weight: 400;
}

.cocktail-top {
  margin-bottom: 20px;
}

.cocktail-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.cocktail-info h2 {
  line-height: 1;
}

.cocktail-info img {
  background-color: var(--secondary);
  border-radius: 5px;
}

.cocktail-info div:last-child {
  min-width: 50%;
}

.cocktail-info div:last-child p {
  font-style: italic;
  font-size: .9em;
}

.cocktail-icons {
  display: flex;
  justify-content: space-between;
}

.cocktail-icons .btn-consumed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 16rem;
  padding: 5px 10px;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 5px;
}

.cocktail-icons .btn-consumed.checked {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.cocktail-icons .btn-consumed svg {
  width: 20px;
  height: 20px;
  fill: var(--foreground);
}

.cocktail-icons .btn-heart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cocktail-icons .btn-heart svg {
  width: 30px;
  height: 30px;
  fill: var(--pinky-red);
}

label::selection {
  background-color: unset;
  color: unset;
}

.cocktail-bottom {
  text-align: center;
  font-size: 1.3em;
}

.cocktail-bottom p {
  font-size: 1.8rem;
}

@media (min-width:48em) {
  .cocktail-icons {
    max-width: 47%;
  }

  .cocktail-bottom p {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  .cocktail-details {
    max-width: 65%;
  }

  .cocktail-top {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: unset;
  }

  .cocktail-icons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .cocktail-icons .btn-consumed {
    border: 1px solid var(--foreground);
    border-radius: 5px 0 0 0;
  }
}