:root {
  --background: #3C2F2F;
  --foreground: #FFF4E6;
  --primary: #854442;
  --secondary: #BE9B7B;
  --gray: #C1C1C1;
  --active-primary: #FFF4E6;
  --light-red: #FF1B1B;
  --pinky-red: #E24A4A;
  --orange-red: #D14836;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

body main {
  font-family: "Roboto", "serif";
  font-weight: 400;
}

.container {
  max-width: 32.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 36em) {

  /* 36em * 16 = 576px */
  .container {
    max-width: 50rem;
  }
}

@media (min-width: 48em) {

  /* 48em * 16 = 768px */
  .container {
    max-width: 70rem;
  }
}

@media (min-width: 62em) {

  /* 62em * 16 = 992px */
  .container {
    max-width: 90rem;
  }
}

@media (min-width: 75em) {

  /* 75em * 16 = 1200px */
  .container {
    max-width: 100rem;
  }
}

@media (min-width: 105em) {
  .container {
    max-width: 128rem;
  }
}

/* Home View */

.hero {
  margin-bottom: 10px;
  text-align: center;
}

.home-list {
  display: flex;
  flex-direction: column;
}

.home-list a {
  margin-bottom: 10px;
  padding: 30px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, var(--secondary), var(--primary));
  text-decoration: none;
  text-align: center;
  color: var(--foreground);
  font-size: 1.5em;
  font-weight: 600;
}

.home-list a:visited {
  color: var(--foreground);
}

@media (min-width: 48em) {

  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  .home-list {
    flex-direction: initial;
    flex-wrap: wrap;
    gap: 10px;
  }

  .home-list a {
    flex: max(350px, 100%/2 - 10px);
    border-radius: 5px;
    transition: ease-in-out all .4s;
  }

  .hero {
    margin-bottom: 30px;
  }

  .home-list a:hover {
    background-position: 100% 0;
  }
}

/* Button / Links */

.btn-random-ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  flex: max(200px, 100%/4 - 10px);
  padding: 10px;
  color: var(--foreground);
  background-color: var(--primary);
  border: 0;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

.btn.disabled, .btn:disabled {
  color: var(--background);
  background-color: var(--gray);
}

.btn:first-child {
  min-width: 100%;
}