.cocktail-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--foreground);
    background-color: var(--primary);
    border-radius: 5px;
}

.cocktail-list-link {
    flex: 1;
    color: var(--foreground);
    text-decoration: none;
    font-size: 1.2em;
}

.cocktail-list-link:visited {
    color: var(--foreground);
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.icon-container svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: var(--background);
}
.icon-container .like,
.icon-container .like-fill {
    fill: var(--pinky-red);
}

.icon-container svg:last-child {
    margin-right: unset;
    cursor: pointer;
}

@media (min-width:48em) {
    .cocktail-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .cocktail-list-item {
        flex: max(200px, 100%/3 + 0.1%);
        margin-bottom: unset;
    }
}

@media (min-width:62em) {
    .cocktail-list-item {
        flex: max(200px, 100%/4 + 0.1%);
    }
}