.cocktail-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--primary);
    border-radius: 5px;
}
.cocktail-link {
    padding: 10px;
    width: 100%;
    color: var(--foreground);
    text-decoration: none;
    font-size: 1.2em;
}
.cocktail-link:visited,
.cocktail-link:active {
    color: var(--foreground);

}
.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

@media (min-width:62em) {
    .cocktail-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .cocktail-list-item{
        flex:max(200px, 100%/4 + 0.1%);
    }
}